name: ci

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: .
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pre-commit
        if: ${{ hashFiles('.pre-commit-config.yaml') != '' }}
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --show-diff-on-failure --color=always

      - name: Lint
        run: ruff check src

      - name: Tests
        run: pytest -q
